html {
	font-family: Arial, sans-serif;
	color: #444;
	background-color: #FFF;
	margin: 0;
	padding: 0;
}

body {
	width: 600px;
	height: 100%;
	margin: 0 auto 0 auto;
	padding: 50px 100px 50px 100px;
	background-color: #FAFAFA;
}

h1 {
	font-size: 48px;
	color: #111;
}

h2 {
	font-size: 36px;
	color: #111;
}